<div class="container mt-3" [formGroup]="form">
  <div class="row">
    <div class="col-12">
      <label for="amount">Amount</label>
      <input formControlName="amount" type="number" class="form-control mt-1" id="amount">
    </div>
  </div>
  <div class="mt-3">
    <currencies-input
      [fullAutocompleteCurrenciesList]="fullAutocompleteCurrenciesList"
      formControlName="currencies"
    ></currencies-input>
  </div>
  <div class="row mt-5">
    <div class="col-3 d-flex align-items-center">
      <div class="divider-line"></div>
    </div>
    <div class="col-6 text-center fw-lighter">
      <span class="currency-conversion-rate-text">1</span>
      <span class="currency-conversion-rate-text text-decoration-underline ms-1">{{ baseCurrency }}</span>
      <span class="currency-conversion-rate-text ms-1">=</span>
      <span class="currency-conversion-rate-text ms-1">{{ currentConversionRate }}</span>
      <span class="currency-conversion-rate-text text-decoration-underline ms-1">{{ counterCurrency }}</span>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="divider-line"></div>
    </div>
  </div>
  <div class="row mt-3 text-center">
    <div>
      <span class="base-amount-text large-text fw-bolder">{{ currentAmount || '0.00' }}</span>
      <span class="base-amount-currency-text medium-text fw-light ms-1">{{ baseCurrency }}</span>
    </div>
    <div>
      <span class="base-amount-text ms-1 large-text fw-bolder">=</span>
    </div>
    <div>
      <span class="counter-amount-text large-text fw-bolder">{{ convertedAmount | number : '1.2-2' }}</span>
      <span class="counter-amount-currency-text medium-text fw-light ms-1">{{ counterCurrency }}</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4 pe-0 d-flex align-items-center">
      <div class="divider-line"></div>
    </div>
    <div class="col text-center p-0">
      <span><i class="bi bi-clock date-text"></i></span>
      <span class="ms-1 date-text">{{ today | date : 'yyyy-MM-dd' }}</span>
    </div>
    <div class="col-4 ps-0 d-flex align-items-center">
      <div class="divider-line"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 ">
      <conversion-rate-graph
        [data]="chartDataPoints"
      ></conversion-rate-graph>
    </div>
  </div>
</div>
